<div class="posts">
  <div>Продавец: {{temp.authorName}}</div>
  <div>Товар:{{temp.title}}</div>
  <div>Дата начала торгов: {{temp.dateStart}}</div>
  <div>Дата окончания торгов: {{temp.dateEnd}}</div>
  <div>Комментарии: {{temp.comment}}</div>
</div>
